.backgroundImage {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index: -1;
    position: absolute;
    /* background-image: url(https://cdn.pixabay.com/photo/2023/11/01/11/15/cable-car-8357178_1280.jpg); */
    /* background-image: url(https://images.pexels.com/photos/2048434/pexels-photo-2048434.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* mobile */
@media (max-width:768px) {
    .message {
        position: relative;
    }

    .backgroundImage {
        /* filter: blur(1px); */
        background-image: url(https://cdn.pixabay.com/photo/2023/11/07/06/52/forest-8371211_1280.jpg);
    }
}

/* desktop */
@media (min-width:768px) {
    .backgroundImage {
        /* filter: blur(1px); */
        background-image: url(https://cdn.pixabay.com/photo/2023/11/07/06/52/forest-8371211_1280.jpg);
    }
}
/* https://cdn.pixabay.com/photo/2023/11/01/11/15/cable-car-8357178_1280.jpg */

